@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --sar: env(safe-area-inset-right);
}

html {
  background-color: back;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  background-color: black;
  color: white;
}

#root {
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
}

.pt-safe { padding-top: var(--sat); }
.pb-safe { padding-bottom: var(--sab); }
.pl-safe { padding-left: var(--sal); }
.pr-safe { padding-right: var(--sar); }

@layer utilities {
  /* Cache la barre de scroll pour Chrome, Safari et Opera (Webkit) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Cache la barre de scroll pour IE, Edge et Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE et Edge */
    scrollbar-width: none;  /* Firefox */
  }
}